@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">おはよう</h1>
    <p>Узнать о <a href="https://learn.microsoft.com/aspnet/core">разрабтке веб-приложений с ASP.NET Core</a>.</p>
</div>
