<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <!-- Подключение CSS -->
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <header class="header">
        <img src="~/images/logo.png" alt="Logo" width="100" />
    </header>

    @RenderBody()

    <!-- Подключение JS -->
    <script src="~/js/site.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>